<table #myHtml class="tableClass">
    <tr class="titleTableClass">
        <th>שבת</th>
        <th>שישי</th>
        <th>חמישי</th>
        <th>רביעי</th>
        <th>שלישי</th>
        <th>שני</th>
        <th>ראשון</th>
    </tr>
    <tr class="trTableClass">
        <td><button  [ngStyle]="{'background-color':getColor(0,0)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,1)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,2)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,3)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,4)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,5)}"  class="btn">בוקר</button></td>
        <td><button  [ngStyle]="{'background-color':getColor(0,6)}"  class="btn">בוקר</button></td>
    </tr>
    <tr class="trTableClass">
      <td> <button   [ngStyle]="{'background-color':getColor(1,0)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,1)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,2)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,3)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,4)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,5)}" class="btn">ערב</button></td>
      <td> <button   [ngStyle]="{'background-color':getColor(1,6)}" class="btn">ערב</button></td>
    </tr>
    <tr class="trTableClass">
       <td><button  [ngStyle]="{'background-color':getColor(2,0)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,1)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,2)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,3)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,4)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,5)}" class="btn">לילה</button></td>
       <td><button  [ngStyle]="{'background-color':getColor(2,6)}" class="btn">לילה</button></td>
    </tr>
</table>

